@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
/* 
- Mobile: 375px - Desktop: 1440px (My laptop 1920px)
500px, 600px, 700px, 800px, 1000px
*/
/* Global Mobile************************/
:root {
  --pitch-black: hsl(255, 22%, 4%);
  --dark-gray: hsl(206, 23%, 42%);
  --light-purple: hsl(251, 9%, 73%);
  --light-gray: hsl(203, 21%, 68%);
  --light-pink: hsl(252, 11%, 91%);
  --lemon-green: hsl(127, 100%, 82%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  utline: 1px solid black;
}
html {
  width: 100%;
  height: auto;
}
body {
  width: 100%;
  height: auto;
  font-family: "JetBrains Mono", "Trebuchet MS";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--pitch-black);
}
main {
  width: 375px;
  height: auto;
  display: grid;
  grid-template: 1fr 5fr 0.5fr / auto;
  grid-template-areas:
    "one"
    "two"
    "three";
  padding: 1rem;
  gap: 0.2rem;
}
/* Header ************************/
header {
  grid-area: one;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.2rem;
  background-color: var(--dark-gray);
  color: var(--light-purple);
}
#head-gendiv {
  width: 85%;
  height: 5rem;
  padding: 0.2rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bolder;
}
#head-icondiv {
  width: 15%;
  height: 5rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#head-icondiv:hover {
  cursor: pointer;
}
#icon-copy {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
/* Section ************************/
section {
  grid-area: two;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-gray);
  color: var(--light-pink);
  border-radius: 0.2rem;
}
menu {
  width: 95%;
  height: 5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
#menu-len {
  width: 85%;
  font-size: 1.4rem;
  padding: 0.4rem;
}
#menu-num {
  width: 15%;
  font-size: 1.4rem;
  text-align: center;
  color: var(--lemon-green);
}
#slider {
  width: 90%;
  accent-color: var(--pitch-black);
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--lemon-green);
  height: 0.7rem;
}
input[type="range"]::-webkit-slider-thumb {
  transform: scale(2);
  box-shadow: 0 0 0 2px var(--lemon-green);
  border-radius: 50%;
}
ul {
  width: 95%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 0.2rem;
}
li {
  list-style: none;
  font-size: 1.2rem;
}
input[type="checkbox"] {
  accent-color: var(--lemon-green);
  transform: scale(1.5);
  left: 6px;
  bottom: 2px;
  position: relative;
}
article {
  width: 95%;
  height: 5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  background-color: var(--pitch-black);
}
#art-navstr {
  color: var(--light-purple);
  font-weight: bolder;
  font-size: 1.1rem;
}
#art-nav {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}
#art-navdiv-too {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: bolder;
}
#art-navdiv-span {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}
span {
  height: 3rem;
  width: 1rem;
  border: 3px solid var(--light-pink);
}
aside {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 95%;
  height: 5rem;
  background-color: var(--lemon-green);
  color: var(--pitch-black);
}
#aside-gen {
  font-size: 1.3rem;
  font-weight: bolder;
}
#aside-gen:hover {
  cursor: pointer;
}
#aside-icon {
  width: 5%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#icon-arrow {
  width: 90%;
  height: 90%;
  object-fit: contain;
}
/* Footer ************************/
footer {
  grid-area: three;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 0.2rem;
  background-color: var(--light-gray);
  color: var(--pitch-black);
}
h6 {
  font-size: 0.8rem;
}
a {
  color: hsl(240, 100%, 50%);
}
a:hover {
  color: hsl(240, 100%, 20%);
  transform: scale(1.1);
}
/* Media Queries ************************/
@media (min-width: 500px) {
  main {
    width: 475px;
  }
  article {
    padding: 0 1rem;
  }
  #art-navstr {
    font-size: 1.3rem;
  }
  #art-navdiv-too {
    font-size: 1.1rem;
  }
}
@media (min-width: 600px) {
  main {
    width: 570px;
  }
}
